<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- solicitando permissão para o app ter acesso a internet -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Debts"
        tools:targetApi="31">
        <activity
            android:name=".adapterDropList_telaBalanco.dropDown_item_listaBalanco"
            android:exported="false" />
        <!-- Configurando a orientação para "portrait" em todas as atividades -->
        <activity
            android:name=".Dialog_Style.layout_AvisoExclusaoMeta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telaAdicionarRendimentos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela_Consulta_IA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela_DebtMap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dialog_Style.layout_AvisoExclusaoConta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configConta_Usuario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela_RelatorioGastos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telaPerfilUsuario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telaPrincipal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cadastrar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".criarConta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>